/** Footer **/
.footer{
  border-top: 5px solid lighten($nav-color, 50%);
  background-color: $nav-color;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  color:$footer-font;
  font-weight: bold;
  padding: 0.3em 0;
}
