/** List **/
.task-list{
  width: 100%;
}

.new-list{
  margin-bottom: 2em;
  width: 100%;
  border-radius: 5px;
}


.remove-btn{
  background-color: $danger-color;

  &:hover{
    background-color: darken($danger-color, 10%);
  }
}

.total{
  color:$nav-color;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2em;
}
