/** New Task **/
.div-new{
  margin-top: 2em;
}

.new-fieldset{
  width: 100%;
  border-radius: 5px;
}

.input-field label{
  color:$nav-color;
}

.input-field .prefix.active {
     color:$nav-color;
}

.new-btn{
  margin-top: 1.5em;
}
