<head>
  <title>Workout</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="blue lighten-5">
  <nav class="nav z-depth-1">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo brand">Workout</a>

    
    </div>
  </nav>

  {{> new}}
  {{> list}}


  <footer class="footer">
    <h6>Developed by: Matheus César</h6>
  </footer>

</body>
