<template name="new">
  <div class="container">
    <div class="row">
      <div class=" div-new valign-wrapper card">
        <div class="new-fieldset card-content">
          <div class="col m12">
            <span class="card-title">Insert a Task!</span>
          </div>
          <form>
          <div class="input-field col m3 s12">
            <input id="taskName" type="text" class="validate">
            <label for="taskName">What i gonna do?</label>
          </div>

          <div class="input-field col m3 s12">
            <input id="taskTime" type="text" class="validate">
            <label for="taskTime">Time Spent</label>
          </div>

          <div class="input-field col m3 s12">
            <input id="taskDate" type="date" class="datepicker">
            <label for="taskDate">Choose the date</label>
          </div>

          <div class="col m3 s12">
            <button class="waves-effect waves-light btn new-btn" type="submit">
              <i class="material-icons left">add</i>add
            </button>
          </div>
        </form>

        </div>

      </div>
    </div>
  </div>

  <script type="text/javascript">
    $('.datepicker').pickadate({
      selectMonths: true,
      selectYears: 15 
    });
  </script>
</template>
