/* Header */
.brand {
  margin-left: 3em; }

@media screen and (max-width: 768px) {
  .brand {
    text-align: center;
    margin-left: 0; } }
.nav {
  background-color: #0d47a1; }

/* Works */
.works-title {
  color: #0d47a1;
  font-weight: bold;
  margin-bottom: 1em; }

.works-li {
  padding: 0.3em;
  font-size: 1.3em; }

/** New Task **/
.div-new {
  margin-top: 2em; }

.new-fieldset {
  width: 100%;
  border-radius: 5px; }

.input-field label {
  color: #0d47a1; }

.input-field .prefix.active {
  color: #0d47a1; }

.new-btn {
  margin-top: 1.5em; }

/** List **/
.task-list {
  width: 100%; }

.new-list {
  margin-bottom: 2em;
  width: 100%;
  border-radius: 5px; }

.remove-btn {
  background-color: #b71c1c; }
  .remove-btn:hover {
    background-color: #8b1515; }

.total {
  color: #0d47a1;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2em; }

/** Footer **/
.footer {
  border-top: 5px solid #b4cff9;
  background-color: #0d47a1;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 0.3em 0; }

/*# sourceMappingURL=index.css.map */
