<template name="list">
  <div class="container">
    <div class="row">
      <div class=" div-new valign-wrapper card">
        <div class="new-list card-content">
          <div class="col m12">
            <span class="card-title">My Tasklist!</span>
          </div>

          <table class="striped   centered">
          <thead>
            <tr>
                <th data-field="id"  width="25%">Time</th>
                <th data-field="name" width="40%">Task</th>
                <th data-field="price" width="25%">Date</th>
                <th data-field="price" width="25%"></th>
            </tr>
          </thead>

          <tbody>
            {{#each tasklist}}
            <tr>
              <td class="tempo">{{time}} Horas</td>
              <td>{{name}}</td>
              <td>{{date}}</td>
              <td><button class="btn remove-btn">Remove</button></td>
            </tr>
            {{/each}}
          </tbody>
        </table>



        </div>


      </div>

    </div>
    <h5 class="total">
      Total Hours: {{sum}} Hours.
    </h5>
  </div>


</template>
